<div class="animate__animated animate__fadeInDown">
    <h2>Por {{ title }}</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-pais-input 
                [title]="title"
                (onEnter)="buscar( $event )"
                (onDebounce)="sugerencias( $event)"
            ></app-pais-input>
        </div>
    </div>

    <ul *ngIf="mostrarSugerencias"
        class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let pais of paisesSugeridos"
            [routerLink]="['/pais', pais.cca2]">
            {{ pais.capital }}, {{ pais.name.common }}
        </li>
        <li class="list-group-item list-group-item-action"
            (click)="buscar( termino)">
            Buscar por "{{ termino }}"
        </li>
    </ul>

    <hr>

    <div class="alert alert-danger" *ngIf="hayError">
        No se encontro nada con el término {{ termino }}
    </div>

    <div class="row">
        <div class="col">

            <app-pais-table [paises]="paises" ></app-pais-table>

        </div>
    </div>
</div>