<div class="animate__animated animate__fadeInDown">
    <h3>Buscar por region <small> {{ regionActiva | titlecase}} </small></h3>
    <hr>

    <h5>Seleccione la region</h5>

    <div class="row my-4">
        <div class="col">
            <!-- [class.btn-primary]="region === regionActiva" -->
            <!-- [ngClass]="{
                        'btn-primary': region === regionActiva,
                        'btn-outline-primary': region !== regionActiva
                    }" -->
            <button  
                    *ngFor="let region of regiones"
                    [class]=" (region === regionActiva) ? 'btn btn-primary me-2' : 'btn btn-outline-primary me-2' "
                    (click)="activarRegion(region)" >
                {{ region }}
            </button>
        </div>
    </div>

    <div class="row" *ngIf="estado">
        <div class="col my-3">
            <div class="alert alert-info">
                <strong>Cargando espere por favor...</strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col my-3">
            <app-pais-table [paises]="paises" ></app-pais-table>
        </div>
    </div>
</div>